fastapi
uvicorn
pydantic
pydantic-settings
boto3
botocore
psycopg2-binary
sqlalchemy
ollama
pdfplumber
pymupdf
python-dateutil
qdrant-client
requests
sentence-transformers
python-docx
python-pptx
transformers
pandas
numpy
tiktoken
unstructured[local-inference]
pdf2image
pytesseract
easyocr
jinja2
faiss-cpu
rank-bm25
redis
email-validator
langchain
langchain-community
langchain-openai
langgraph
httpx
nltk
neo4j
loguru
rapidfuzz
retrying
accelerate
bitsandbytes
datasets
peft
trl
torch
python-multipart
llama-parse==0.6.79
